<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Index</title>
    <div th:replace="Fragment/layout::head"></div>
</head>
<body>
<header th:replace="Fragment/layout::header"></header>

<main>
    <div class="container-fluid">
        <table class="table table-striped table-sm w-75 mx-auto mt-2 table-bordered">
            <thead >
            <tr class="text-center">
                <th scope="col">title</th>
                <th scope="col">user</th>
                <th scope="col">category</th>
                <th scope="col">createAt</th>
                <th scope="col">updateAt</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post :${posts}" class="text-center">
                <td th:text="${post.getTitle()}"></td>
                <td th:text="${post.getUser().name}"></td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="category :${post.category}"
                        th:text="${category.title}"></li>
                    </ul>
                </td>
                <td th:text="${post.getCreateAt()}"></td>
                <td th:text="${post.getUpdateAt()}"></td>
                <td class="d-flex justify-content-center p-1">
                    <div><a type="button" class="btn btn-success btn-sm mx-2">Edite</a></div>
                    <div><a type="button" class="btn btn-danger btn-sm mx-2">Delete</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer></footer>

</body>
</html>