<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>registerUsers</title>
    <div th:replace="Fragment/layout::head"></div>
</head>
<header th:replace="Fragment/layout::header"></header>
<body>
    <main>
        <div class="container-fluid">
            <form th:action="@{/users/registerUsers}" enctype="multipart/form-data" th:object="${user}" method="post" class="mt-5 border p-5 w-50 mx-auto">
                <input type="hidden" th:field="${user.id}">
                <div class="mx-auto mb-4 text-center"><h5>New User</h5></div>
                <div class="w-75 mx-auto mb-3">
                    <label for="inputName" class="form-label">name</label>
                    <input type="text" id="inputName" name="name" class="form-control" th:field="${user.name}">
                </div>
                <div class="w-75 mx-auto mb-3">
                    <label for="inputEmail" class="form-label">email</label>
                    <input type="text" id="inputEmail" name="email" class="form-control" th:field="${user.email}">
                </div>
                <div class="w-75 mx-auto mb-3">
                    <label for="inputPassword" class="form-label">password</label>
                    <input type="text" id="inputPassword" name="password" class="form-control">
                </div>
                <div class="w-75 mx-auto mb-3">
                    <label for="inputPhoneNumber" class="form-label">phoneNumber</label>
                    <input type="text" id="inputPhoneNumber" name="phoneNumber" class="form-control" th:field="${user.phoneNumber}">
                </div>
                <div class="w-75 mx-auto mb-3">
                    <select class="form-select"} th:field="${user.roles}">
                        <option th:each="role :${T(com.rhpm.testapp.modules.enums.Role).values()}"
                        th:text="${role}"
                        th:value="${role}"></option>
                    </select>
                </div>
                <div class="w-75 mx-auto mb-3">
                    <label for="inputCoverPhoto" class="form-label">coverPhoto</label>
                    <input type="file" class="form-control" id="inputCoverPhoto" th:field="${user.file}">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary w-75">submit</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>